.navbar {
  background-color: #fafafa;
  .navbar-inner {
    list-style: none;
    align-items: center;
    .logo-store {
      width: 50px;
    }
  }
  .nav-link.active {
    color: red;
  }
  .nav-link {
    transition: 0.25s linear;
  }
}
