.form-login {
  .col {
    margin-bottom: 10px;
    .err-code {
      color: red;
    }
  }
  .button {
    border: none;
    outline: none;
    padding: 10px 30px;
    min-width: 130px;
    border-radius: 2px;
    background-color: #0d6efd;
    margin-bottom: 10px;
    color: #fff;
    position: relative;
    overflow: hidden;
    transition: 0.25s;
    font-size: 13px;
    &::before {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      content: "";
      background-color: rgba(0, 0, 0, 0.3);
      transform: translateX(-100%);
    }
    &::after {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      content: "";
      background-color: rgba(0, 0, 0, 0.3);
      transform: translateX(100%);
    }
    &:hover {
      &::after {
        transform: translateX(50%);
      }
      &::before {
        transform: translateX(-50%);
      }
    }
  }
}
